{% extends 'bs-base.jinja2' %}

{% block content %}
	<div class="container">
		<div class="col-md-12">
		<h1>Nope, can't find that for you!</h1>

		<p>The URL your looking for is gone. It may have expired or pointed to some really scary stuff.
			Either way... its gone..
		</p>
	</div>
	</div>
{% endblock %}
