{% extends 'bs-base.jinja2' %}

{% block content %}
	<div class="container">
		<div class="col-md-12">
			<div class="page-header">
				<h1>Terms and Conditions of Use</h1>
			</div>
			<ul>
				<li>Do not post or link illegal content (or even remotely questionable links).</li>
				<li>We are not permanent storage and there are no guarantees of availability of any data.</li>
				<li>URL's may be removed at any time.</li>
				<li>Click counts statistics are public.</li>
				<li>There is no guarantee of confidentiality for any data posted or sent to this site.</li>
				<li>By posting anything to this site you are accepting these terms and conditions.</li>
				<li>We accept no liability of any kind. You use this site at your own risk!</li>
				<li>Terms and conditions are subject to change without notice.</li>
				<li>5 free URLs per hour.</li>
			</ul>
		</div>
	</div>
	<br>
{% endblock %}

